.product{
    margin-top: 20px;
}
.product-title{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #b2bec3; 
    line-height: 0.1em;
    text-transform: uppercase;
}
.product-title span{
    background:#fff;
    color: #f7941d; 
    padding:0 10px;
}
.product-list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.product-item{
    margin: 15px;
    width: calc(100% / 3 - 30px);
}
.card{
    border: 1px solid #b2bec3;
    padding: 15px;
    padding-top: 0;
    border-radius: 3px;
    transition: all .5s;
}
.card-header{
    width: 60%;
    margin: 0 auto;
}
.card-body{
    margin-top: 20px;
    text-align: center;
}
.card-title{
    color: #0984e3;
    font-size: 24px;
    font-weight: 600;
}
.card-price{
    margin-top: 15px;
    color: #f7941d;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card-desc{
    color: #2d3436;
}
.card-btn{
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    color: #636e72;
    cursor: pointer;
    transition: all .5s;
}
.card-btn:hover{
    color: #000;
}
@media (max-width: 768px) {
    .product-item{
        width: calc(50% - 25px);
    }
}
@media (max-width: 480px) {
    .product-item{
        width: 100%;
    }
}